@import "~sass-rem";
@import "general/reset";
@import '~antd/dist/antd.css';
@import "includes/flex";
@import "includes/respond";
@import "general/fonts";
@import "general/vars";

html{
  @include respond-to($tablet-portrait){
    font-size: 14px;
  }
}
body{
  font-family: $noto;
}
.mainPage{
  position: relative;
  top: -10px;
}
a {
  font-family: $montserrat;
  font-size: rem(20px);
  line-height: 120%;
  font-weight: 600;
}

h1 {
  font-family: $montserrat;
  font-size: rem(44px);
  font-weight: bold;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

h2{
  font-family: $montserrat;
  font-size: rem(26px);
  font-weight: bold;
  line-height: 145%;
}
h2.h1{
  font-family: $montserrat;
  font-size: rem(44px);
  line-height: 145%;
  text-transform: uppercase;
}

p{
  font-family: $noto;
  font-size: rem(22px);
  line-height: 155%;
  font-weight: 300;

}

p.h1{
  font-family: $montserrat;
  font-size: rem(44px);
  line-height: 145%;
}

.container{
  width: 90%;
  max-width: 1170px;
  margin: auto;
}
section{
  max-width: 1920px;
  margin: auto;
}
img{
  width: 100%;
}
.allPostBtn{
  .container{
    margin: 0 auto 80px;
    a{
      border-bottom: 1px solid $black;
      font-family: $montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      padding: 10px 5px 10px 30px;
      position: relative;
      text-transform: uppercase;
      color: $black;
      &:before{
        content: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.09128 6.5L0 1.44422L1.45436 0L8 6.5L1.45436 13L0 11.5558L5.09128 6.5Z' fill='black'/%3E%3C/svg%3E%0A");
        position: absolute;
        left: 3px;
      }
    }
  }
}
.footerBlack{
  background-color: $black;
  .container{
    @include flex($row,$start,$center);
    padding: 48px 0 40px;
    p{
      color: $white;
      @extend %btn;
      margin-right: 115px;
      @include respond-to($tablet-portrait){
        margin-right: 100px;
      }
    }
  }
}
h1, h2, h3, h4, h5, h6 {
  color: $black;
}
.ant-select-single .ant-select-selector .ant-select-selection-item, .ant-select-single .ant-select-selector .ant-select-selection-placeholder{
  transition: none;
}
strong{
  font-weight: 700;
}
@import "components/startPageLayout";
@import "components/header";
@import "components/hero";
@import "components/footer";
@import "components/textBlock";
@import "components/fullScreenVideo";
@import "components/fullscreenImage";
@import "components/containerVideo";
@import "components/containerImage";
@import "components/columns";
@import "components/numericText";
@import "components/card";
@import "components/lastProjects";
@import "components/allProjects";
@import "components/moreProjects";
@import "components/headerBreadcrumbs";
@import "components/сommercialProposal";
@import "components/vacancies";
@import "components/modalVacancies";
@import "components/allApproach";
@import "components/contacts";
@import "components/commercialFormBlock.scss";
@import "components/services";
@import "components/splitTextBlock"
