.allApproach{
  .head{
    .text{
      max-width: 770px;
      margin-top: 56px;
      p{
        margin-top: 32px;
      }
    }
  }
  .projects{
    padding-top: 80px;
    padding-bottom: 150px;
    .container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 44px;
      @include respond-to($tablet-portrait){
        grid-template-columns: repeat(2, 1fr);
      }
      @include respond-to($phone){
        grid-template-columns:repeat(1,1fr);
      }
      .card{
        .top{
          height: 308px;
        }
      }
    }
  }
}
.singleApproach{
  .share{
  .buttons{
    button{
      margin: 0 10px 0 0;
    }
  }
  }
}