
.columnsText{
  margin: 60px 0 60px;
  @include respond-to($phone){
    margin: 60px 0 10px;
  }
  .container{
    p.h1{
      padding: 20px 0;
      text-transform: uppercase;
      color: $black;
      font-weight: bold;
      letter-spacing: 0.08em;
      @include respond-to($phone){
        padding: 10px 0 0;
      }
    }
    .columns{
      @include flex($row,$btwen,baseline);

      .item{
        width: calc(25% - 15px);
        @include respond-to($tablet-portrait){
          width: calc(50% - 15px);
          margin-top: 20px;
        }
        @include respond-to($phone){
          width: 100%;
        }
        p{
          @extend %p2light;
        }
      }
    }
  }
}
.productColumns{
  .container .columns .item {
    width: calc(33% - 15px);
    margin-top: 30px;
    @include respond-to($tablet-portrait){
      width: calc(50% - 15px);
      margin-top: 20px;
    }
    @include respond-to($phone){
      width: 100%;
    }
}
}
.adventagesColumns{
  .container .columns .item {
    width: calc(49% - 15px);
    margin-top: 30px;
    @include respond-to($tablet-portrait){
      width: calc(50% - 15px);
      margin-top: 20px;
    }
    @include respond-to($phone){
      width: 100%;
    }
}
}
.richColumns{
  margin-top: 0;
  .container .columns .item {
    margin-top: 0;
    margin-bottom: 20px;
  }
}
.markerOdd{
  .item{
    position: relative;
    &:nth-child(odd){
    &::before{
      left: -40px;
      top: calc(50% - 20px);
      position: absolute;
      content: "*";
      font-size: 40px;
    }
  }
  &:first-child{
    &::before{
    content: "";
  }
}
  }
  }
.marker{
  .item{
  position: relative;
    &::before{
      left: -40px;
      top: calc(50% - 20px);
      position: absolute;
      content: "*";
      font-size: 40px;
    }
  }
}