.columnsText{
  margin: 60px 0 60px;
  .container{
    p.h1{
      padding: 20px 0;
      text-transform: uppercase;
      color: $black;
    }
    .columns{
      @include flex($row,$btwen,$start);
      .item{
        p{
          @extend %p2light;
        }
      }
    }
  }
}