.contactsPage{
  .head{
    h1{
      margin: 56px 0 0;
    }
  }
  .contacts{
    margin-bottom: 140px;
    .item{
      max-width: 770px;
      margin: 40px 0;
      a{
        color: $black;
        margin: 12px 0 0;
        display: block;
        @extend p;
        text-decoration: underline;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}