.hero{
    background-color: $black;
    margin: 0 0 40px;
    //min-height: 100vh;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1;
    min-height: 900px;
    max-height: 100vh;
    //overflow-x: hidden;
    @include respond-to($large-desktop){
        min-height: 771px;
    }
    @include respond-to($laptop){
        min-height: 671px;
    }
    @include respond-to($laptop){
        min-height: 671px;
    }
    @include respond-to($interval-back){
        min-height: 620px;
    }
    @include respond-to($tablet-portrait){
        min-height: 300px;

    }

    img{
        position: absolute;
        height: 100%;
        @include respond-to($tablet-portrait){
            position: relative
        }
    }
    video{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: -1;
        @include respond-to($tablet-portrait){
           //position: relative;
        }

    }
    .container{
        //position: relative;
    }
    .text{
        padding: 30px 0 180px;
        position: absolute;
        bottom: 0;
        @include respond-to($tablet-portrait){
           padding-bottom: 20px;
        }
        h1{
            color: inherit;
        }
        p{
            color: inherit;
        }
    }
}