.more{
  margin-top: 120px;
  @include respond-to($phone){
    margin-top: 20px;
  }
}
.moreProjects{
  padding: 40px 0 160px;
  @include respond-to($phone){
    padding: 10px 0 20px;
  }
  .container{
    @include flex($row,$btwen,$center);

  }
  .card{
    max-width: 570px;
    h2{
      font-family: $prompt;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      padding: 0 20px 10px;
      &:before{
        content: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.90872 6.5L8 11.5558L6.54564 13L0 6.5L6.54564 0L8 1.44422L2.90872 6.5Z' fill='black'/%3E%3C/svg%3E%0A");
        position: relative;
        left: -10px;
      }
    }
    &:nth-child(2){
      h2{
        text-align: right;
        position: relative;
        //display: inline-block;
        &:before{
          display: none;
        }
        &:after{
          content: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.09128 6.5L0 1.44422L1.45436 0L8 6.5L1.45436 13L0 11.5558L5.09128 6.5Z' fill='black'/%3E%3C/svg%3E%0A");
          position: relative;
          right: -10px;
          //transform: rotate(180deg);
        }
      }
    }
    @include respond-to($tablet-portrait){
      max-width: 49%;
    }
  }
}