.mainPage{
  section.textBlock{
    .text{
      @include respond-to($phone){
        padding: 0 ;
      }
    }}
}
section.textBlock{
  .text{
    max-width: 770px;
    width: 100%;
    text-align: left;
    padding: 40px 0;
    @include respond-to($phone){
      padding: 0;
    }

    h2{
      padding-bottom: 16px;
    }
    p{
      padding-bottom: 20px;
    }
    strong{
      font-weight: bold;
    }
    ul, ol{
      padding-bottom: 30px;
    }
    ul>li{
      @extend %p1light;
      list-style: circle;
      position: relative;
      left: 24px;
    }
    ol>li{
      @extend %p1light;
      list-style: decimal;
      position: relative;
      left: 24px;
    }
    code{
      max-width: 100%;
      white-space: normal;
    }
  }
}