$noto:'Noto Sans' , sans-serif;
$prompt:'Prompt', sans-serif;
$inter:'Inter', sans-serif;

$black: #000000;
$white: #ffffff;
$light-gray: #f0f0f0;
$dark-gray: #9e9e9e;

%p2light{
  font-family: $noto;
  font-style: normal;
  font-weight: 300;
  font-size: rem(18px);
  line-height: 150%;
}
%p1light{
  font-family: $noto;
  font-style: normal;
  font-weight: 300;
  font-size: rem(22px);
  line-height: 155%;
}
%p1bold{
  font-family: $noto;
  font-style: normal;
  font-weight: bold;
  font-size: rem(22px);
  line-height: 155%;
}
%p2bold{
  font-family: $noto;
  font-style: normal;
  font-weight: bold;
  font-size: rem(18px);
  line-height: 150%;
}
%subtitle{
  font-family: $inter;
  font-style: normal;
  font-weight: bold;
  font-size: rem(24px);
  line-height: 150%;
}
%caption{
font-family: $noto;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
}
%btn{
  font-family: $inter;
  font-style: normal;
  font-weight: 600;
  font-size: rem(22px);
  line-height: 155%;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}